<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'index')}"
>
  <body>
    <div class="container">
      <h1>Rectangles</h1>
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Color</th>
        </tr>
        <tr th:each="record : ${records}">
          <td><p th:text="${record.ID}"></p></td>
          <td>
            <a th:href="@{/rectangle/{rid}(rid=${record.ID})}"
              ><p th:text="${record.Name}"></p
            ></a>
          </td>
          <td><p th:text="${record.Color}"></p></td>
        </tr>

        <tr>
          <td colspan="3">
            <a th:href="@{/addrectangle}">Add New Rectangle</a>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
