<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'rectangle')}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New rectangle Form</title>
  </head>
  <body>
    <div class="cont">
      <div
        th:style="'background:' + ${record.Color} + '; width:' + ${record.width} + 'px; height:' + ${record.height} + 'px; border: ' + ${record.borderWidth} + 'px solid ' + ${record.borderColor} + '; margin-top: 20px; margin-bottom: 20px; display: flex;
        align-items: center'"
      >
        <p
          class="color-text"
          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
          th:text="${record.name}"
        ></p>
      </div>
      <table>
        <tr>
          <td><b>ID</b></td>
          <td><p th:text="${record.ID}"></p></td>
        </tr>
        <tr>
          <td><b>Name</b></td>
          <td><p th:text="${record.name}"></p></td>
        </tr>
        <tr>
          <td><b>Width</b></td>
          <td><span th:text="${record.width}"></span>px</td>
        </tr>
        <tr>
          <td><b>Height</b></td>
          <td><span th:text="${record.height}"></span>px</td>
        </tr>
        <tr>
          <td><b>Color</b></td>
          <td><p th:text="${record.color}"></p></td>
        </tr>
        <tr>
          <td><b>Border Color</b></td>
          <td><p th:text="${record.borderColor}"></p></td>
        </tr>
        <tr>
          <td><b>Border Width</b></td>
          <td><span th:text="${record.borderWidth}"></span>px</td>
        </tr>
      </table>
      <form
        action="#"
        method="get"
        th:action="@{/deleterectangle/{rid}(rid=${record.ID})}"
      >
        <input class="red-button" type="submit" value="Delete Rectangle" />
      </form>
    </div>
  </body>
</html>
