<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'rectangle')}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New rectangle Form</title>
  </head>
  <body>
    <div>
      <div
        th:style="'background:' + ${record.Color} + '; width:' + ${record.width} + 'px; height:' + ${record.height} + 'px; border: ' + ${record.borderWidth} + 'px solid ' + ${record.borderColor} + '; margin-top: 20px; margin-bottom: 20px; display: flex;
        align-items: center'"
      >
        <p
          class="color-text"
          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
          th:text="${record.name}"
        ></p>
      </div>
      <table>
        <tr>
          <td><p>ID</p></td>
          <td><p th:text="${record.ID}"></p></td>
        </tr>
        <tr>
          <td><p>Name</p></td>
          <td><p th:text="${record.name}"></p></td>
        </tr>
        <tr>
          <td><p>Width</p></td>
          <td><p th:text="${record.width}"></p></td>
        </tr>
        <tr>
          <td><p>Height</p></td>
          <td><p th:text="${record.height}"></p></td>
        </tr>
        <tr>
          <td><p>Color</p></td>
          <td><p th:text="${record.color}"></p></td>
        </tr>
        <tr>
          <td><p>Border Color</p></td>
          <td><p th:text="${record.borderColor}"></p></td>
        </tr>
        <tr>
          <td><p>Border Width</p></td>
          <td><p th:text="${record.borderWidth}"></p></td>
        </tr>
        <tr>
          <td colspan="2">
            <a th:href="@{/deleterectangle/{rid}(rid=${record.ID})}"
              >Delete Rectangle</a
            >
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
